.about {
  height: 100vh;
  background-color: var(--bg-color4);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vw;
  gap: 5vw;
}

.img-container {
  max-width: 15vw;
  border: 3px solid var(--font-color1);
  background-color: var(--bg-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.img-title {
  background-color: var(--bg-color);
  border: 3px solid var(--font-color1);
  border-radius: 8px;
  box-shadow: 5px 5px;
  width: 10vw;
  font-size: 24px;
  text-align: center;
  padding: 2vh 0;
  transform: translateX(2vw) translateY(3vh);
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 25vw;
}

.about-text h1 {
  font-size: 68px;
}

.about-text p {
  font-size: 18px;
}
