.contact {
  height: 100vh;
  background-color: var(--bg-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--font-color1);
  border-radius: 8px;
  padding: 2rem;
  margin-top: 5rem;
  background-color: var(--bg-color);
}

.button-container {
  padding-top: 5vh;
  display: flex;
  gap: 1rem;
}
