.footer {
  height: 54px;
  background: var(--bg-color2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 2vw;
  border-top: 3px solid var(--font-color1)
}

.footer p {
  color: var(--font-color1);
  margin: 20px;
  font-size: 12px;
}

.footer svg {
  font-size: 36px;
  cursor: url("../assets/svg/hand-pointer-solid.svg"), auto;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 36px;
  }

}
