.hero {
  height: 100vh;
  display: flex;
}

.hero-right {
  background-color: #B892FF;
  width: 30vw;
  display: flex;
  justify-content: center;
  border-left: 2px solid;
}

.hero-right button {
  transform: translateX(-15vw) translateY(65vh);
}

.hero-left {
  background-color: aquamarine;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 76px;
  border-top: 2px solid;
  padding-top: 2px;
}

.hero-subtitle {
  font-size: 36px;
}
