.slider {
  height: 100%;
  position: relative;
}

.slide-container {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Add transition */
}

.slide {
  height: 100%;
  border-radius: 10px;
  background-position: center;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-7vw, 10vh);
  left: 32px;
  font-size: 45px;
  color: var(--font-color1);
  z-index: 1;
  cursor: url("../assets/svg/hand-pointer-solid.svg"), auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(7vw, 10vh);
  right: 32px;
  font-size: 45px;
  color: var(--font-color1);
  z-index: 1;
  cursor: url("../assets/svg/hand-pointer-solid.svg"), auto;
}

.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;
  border: solid 6px var(--font-color1);
  background-color: var(--bg-color);
  border-radius: 8px;
}

.top-container {
  display: flex;
  border-bottom: 3px solid var(--font-color1);
  width: -webkit-fill-available;
  justify-content: flex-end;
  padding: 5px;
}

.graphic-points {
  display: flex;
  gap: 0.5rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: var(--font-color1);
  border-radius: 50%;
  display: inline-block;
}
.nav-dot.current {
  color: var(--bg-color);
}

/*image styling*/
.project-img {
  width: 15vw;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-title, .description, .tech-stack, .label, .project-links {
  max-width: 15vw;
  animation: slideIn 0.5s ease-in-out forwards;
  opacity: 0;
}

.project-links {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.project-links p {
  border: 3px solid var(--font-color1);
  padding: 5px;
  border-radius: 8px;
  width: 4rem;
  text-align: center;
  background-color: var(--bg-color);
  font-weight: bold;
  box-shadow: 5px 5px;
  cursor: url("../assets/svg/hand-pointer-solid.svg"), auto;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(0, -50vh);
  }
  to {
    opacity: 1;
    transform: translate(25vw, -50vh);
  }
}

.project-title {
  animation-delay: 0.1s; /* Adjust delay for each element */
}

.description {
  animation-delay: 0.5s;
}

.tech-stack {
  animation-delay: 0.8s;
}

.label {
  animation-delay: 1s;
}

.nav-dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-dot {
  font-size: 24px;
  color: var(--font-color1);
  cursor: url("../assets/svg/hand-pointer-solid.svg"), auto;
}
