/* Modal Background */
.modalBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 218, 218, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

/* Modal Container */
.modalContainer {
  background: white;
  border-radius: 8px;
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Modal Title */
.modalTitle {
  text-align: center;
  margin-bottom: 10px;
}

/* Modal Body */
.modalBody {
  text-align: center;
}

/* Optional: Add some hover effects for the close button */
.titleCloseBtn button:hover {
  color: var(--bg-color1); /* Change color on hover */
  transition: color 0.3s ease; /* Smooth transition */
}
