.projects {
  min-height: 100vh;
  background-color: var(--bg-color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
}


.projects-title {
  font-size: 68px;
  padding-bottom: 5vh;
  padding-top: 15vh;
}

.project-container {
  padding-top: 1vh;
}
