:root {
  --font-color1: #3F4750;
  --font-color2: #F8F1F8;
  --accent-color: #B892FF;
  --bg-color: #F8F1F8;
  --bg-color1: #5FE7C5;
  --bg-color2: #B892FF;
  --bg-color3: #FFF275;
  --bg-color4: #FE8E86;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../src/assets/svg/arrow-pointer-solid.svg"), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-color) !important;
  color: var(--font-color1) !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: var(--font-color1);
}

a:hover {
  text-decoration: none;
  transform: scale(1.5x);
  cursor: url("./assets/svg/hand-pointer-solid.svg"), auto;
}

img {
  width: 100%;
  height: auto;
}

button {
  height: fit-content;
  padding: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: #3F4750;
  border-radius: 8px;
  border: solid 2px;
  box-shadow: 5px 5px;
}

button:hover {
  transform: scale(2);
}
